[submodule "alexandria"]
	path = alexandria
	url = https://github.com/luizalbertocviana/alexandria
[submodule "asdf-flv"]
	path = asdf-flv
	url = https://github.com/luizalbertocviana/asdf-flv
[submodule "fiveam"]
	path = fiveam
	url = https://github.com/luizalbertocviana/fiveam
